<section class="sction mt-5">
<div class="columns is-multiline is-centered movie-container">


  <%@janimes.each do |janime|%>
  <%next if janime.id.odd?%>
      <div class="column is-2 ml-2">
      <%=image_tag janime.anime_url,class: 'image',:width=>'250'%>
      
          <div class="image-item has-text-centered">
               <div class="image-icon">
                  <span class="is-small is-left">
                     <i class="far fa-comment"></i>
                  </span>
                  <%=janime.janimecomments.count%>
                  <span class="is-small is-left star">
                     <i class="far fa-star"></i>
                  </span>
                  <%=janime.avg_score%>   
               </div>
            <%=link_to janime_path(janime),class: "button comment" do%>
               コメントを投稿する
            <%end%>
           
      
         </div>
      
      </div>
   <%end%>
 
</div>    
      <div class="columns is-centered">
          <%= paginate @janimes%> 
       </div>
   
</section>



