<section class="section mt-5">
<div class="is-size-2 has-text-left has-text-weight-bold">コメント投稿</div>
<div class="container">
  <div class="columns is-centered mb-4">
    <%=image_tag @jmovie.jmovie_url,:width=>550%>
  </div>
</div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5 rating-box">
     
        <%=form_with model:[@jmovie,@jmoviecomment],local: true do |f|%>
          <div class="main-rating">
            <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="ml-3 rating-value-display is-left"><span id="rating-value-display">0</span>/5</div>
          <div class="column is-5">
            <% if current_user.likes.find_by(jmovie_id: @jmovie.id) %>
                <%=link_to "お気に入り解除", jmovie_jmoviedestroy_path(@jmovie,current_user),class:"button btn--shadow like-btn", method: :delete%>
             <%else%>
                <%=link_to "お気に入り登録", jmovie_jmoviecreate_path(@jmovie.id) ,class: "button btn--shadow like-btn",method: :post%>
              <%end%>
          </div>
          </div>

          <%=f.hidden_field :star,id: 'rating-value'%>

          <div class="field">
          <%=f.label "タイトル"%>
          <%=f.text_field :title,class:"input"%>
          </div>

          <div class="field">
          <%=f.label "コメント"%>
          <%=f.text_area :description,class: "textarea",:size=>"50x15"%>
          </div>

          <div class="field mb-5">
          <%=f.submit "投稿",class: "button btn--shadow mt-3 ml-3 "%>
          </div>

        
       
      <%end%>


      
        
        
        
        
  
        <%@jmovie.jmoviecomments.each do |comment|%>
        <div class="comment-container pl-4">
            <div class="comment-title pt-5"><%=comment.user.name%>さんのコメント</div>
            <div><%=l comment.created_at, format: :short%></div>
             <span class="comment-star" id="star-rate-<%= comment.id %>"></span><span class="comment-star ml-3"><%=comment.star%></span>
            <div class="mt-3"><%=comment.description%></div>
          </div>   
    

      <script>
        $('#star-rate-<%= comment.id %>').raty({
        size : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        readOnly : true,
        score: <%= comment.star %>,

      });
    </script>
          
        <%end%>
      
        <div class="columns is-centered">
          <%= paginate @jmoviecomments %>
        </div>
      
      </div>
    </div>
  </div>
</section>


<%=javascript_include_tag "usercomments.js"%>