<section class="sction mt-5">
<div class="columns is-multiline is-centered movie-container">

 <%@originals.each do |original|%>
 
      <div class="column is-2 ml-2">
      <%=image_tag original.original_url,class: 'image',:width=>'250'%>

             <div class="image-item has-text-centered">
               <div class="image-icon">
                  <span class="is-small is-left">
                     <i class="far fa-comment"></i>
                  </span>
                   <%=original.originalcomments.count%>
                  <span class="is-small is-left star">
                     <i class="far fa-star"></i>
                  </span>
                  <%=original.avg_score%>   
               </div>
             
            </div>
          <%=link_to original_path(original),class: "button comment" do%>
               コメントを投稿する
          <%end%>
      </div>
   <%end%>
</div>   
   

<div class="columns is-multiline is-centered movie-container">
    <%= paginate @originals %>
</div> 

</section>
