<section class="sction mt-5">
<div class="columns is-multiline is-centered movie-container">


  <%@fmovies.each do |fmovie|%>
  <%next if fmovie.id.odd?%>
      <div class="column is-2 ml-2">
         <%=image_tag fmovie.fmovie_url,class: 'image',:width=>'250'%>
      
            <div class="image-item has-text-centered">
               <div class="image-icon">
                  <span class="is-small is-left">
                     <i class="far fa-comment"></i>
                  </span>
                  <%=fmovie.fmoviecomments.count%>
                  <span class="is-small is-left star">
                     <i class="far fa-star"></i>
                  </span>
                  <%=fmovie.avg_score%>   
               </div>
               <%=link_to fmovie_path(fmovie) ,class: "button comment" do%>
                     コメントを投稿する       
                <%end%>
            </div>
      </div>
        
         
   <%end%>
               
               
 
</div>    
       <div class="columns is-centered">
          <%= paginate @fmovies%> 
       </div>
   
</section>