<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="jquery.raty.js"></script>
     <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
   <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>

  
 <header class="navbar is-fixed-top"role="navigation" aria-lable="dropdown navigation">
  <div class="container">
    <div class="navbar-brand ">
      <%=link_to "Netflix",root_path ,id: "logo",class:"navbar-item title-logo"%>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
     <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable ">
        <a class="navbar-link">
         映画
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a href="/jmovies" class="navbar-item">
           国内映画
          </a>
          <a href="/fmovies" class="navbar-item">
           海外映画
          </a>
        </div>
      </div>

   <div id="navbarBasicExample" class="navbar-menu">
   <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/janimes" class="navbar-link">
        アニメ
        </a>
      </div>
    </div>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
   <div class="navbar-end">
    <div class="navbar-item  is-hoverable">
      <a href="/originals" class="navbar-link">
        オリジナルコンテンツ
        </a>
      </div>
    </div>
   </div>
       
      
        
  </div>
<%if logged_in?%>
  <div class="navbar-item">
   
    <%=link_to user_path(current_user) do%>
       <span class="navbar-item mr-5"><i class="fas fa-user mr-3"></i><%=current_user.name%></span>
    <%end%>
  </div>
    <%=link_to "ログアウト" ,logout_path,method: :delete ,class: "button-custom button btn--shadow mt-2 mr-5"%>
  <%end%>
 
 </header>
  
  <main>
    <%= yield %>
  </main>



 <footer>
   <p>© All rights reserved by saitokeiki.</p>
</footer>

  </body>
<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
</html>
